.cards{
    box-sizing: border-box;
    position: absolute;
    width: 1040px;
    height: 135px;
    margin-left: 290px;
    margin-top: 30px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.middle-cards li{
    margin-bottom: 130px;
}

.navigation-table{
    margin-top: 180px;
    margin-left: 780px;
}
.navigation-table .fa-solid{
    width: 30px;
    height: 50px;
    color: #F8914A;
    cursor: pointer;
}
.status{
    border: 1px solid #353535;
    padding: 5px 25px;
    border-radius: 15px;
    width: 120px;
    margin-left: 40px;
    margin-top: 30px;
}

.view-button{
    border: 1px solid #1A57C3;
    padding: 10px 25px;
    border-radius: 15px;
    display: inline-block;
    display: flex;
    margin-left: 600px;
}
.view-button:hover{
    background: #aec5ec;
}

.view-button table button{
    margin-left: 15px;
    border: none;
    background: none;
    cursor: pointer;
    color: #1A57C3;
    font-size: 16px;
}
.view-button table i{
    color: #1A57C3;
}
.cmpg{
    display: inline-block;
    margin-top: 15px;
    margin-left: 20px;
}
.dv{
    display: flex;
}

.stat-cards{
    box-sizing: border-box;
    position: absolute;
    width: 1040px;
    height: 300px;
    margin-left: 290px;
    margin-top: 30px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.stat-cards h2{
    margin-left: 30px;
    margin-top: 10px;
}

.view-cards-wrapper{
    width: 1000px;
    height: 320px;
    margin-left: 280px;
    margin-top: 10px;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.view-card{
    background: rgba(51, 144, 252, 0.22);
    width: 290px;
    height: 228px;
    float: left;
    margin: 20px;
    border-radius: 15px;
    color: #1A57C3;
}
.name{
    margin-top: 20px;
    margin-left: 25px;
}
.title-wrap{
    display: flex;
    margin-left: 50px;
    margin-top: 30px;
}
.title-wrap h2{
    margin-left: 10px;
}
.back{
    background: rgb(235, 137, 58);
    color: #FFFFFF;
    border: none;
    padding: 20px 50px;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 1145px;
    font-size: 16px;
    cursor: pointer;
}
.perf a, .back a{
    text-decoration: none;
}
.perf a{
    color: #1A57C3;
}
.back a{
    color: #FFFFFF;
}